.patient-container{
  display: flex;
  transition: cubic-bezier(.19,1,.22,1);
  background-color: gold;
  border: solid;
  justify-content: space-around;
  padding-top: 11px;
  animation: ease-out;
  border-radius: 15px;
  margin: 1.5px;
  box-shadow: 0 0 4px;
  margin-bottom: 9px;
}
